# =============== #
# Unity generated #
# =============== #
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
sysinfo.txt

# Visual Studio
.vscode/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd

# OS generated
.DS_Store
Thumbs.db

# Crash and build reports
*.stacktrace

# Bỏ qua các file thư viện native nặng của Firebase
Assets/Firebase/Plugins/x86_64/
*.so
*.bundle